<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" /> <!-- 检测无障碍服务是否已启用（需要查询设置） -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 为了更好的兼容性，请求安装包列表权限 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" /> <!-- 确保应用兼容 Android 12+ 的启动限制 -->
    <queries>
        <intent>
            <action android:name="android.settings.MANAGE_OVERLAY_PERMISSION" />
        </intent>
        <intent>
            <action android:name="android.settings.ACCESSIBILITY_SETTINGS" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:mimeType="image/*" />
        </intent>
        <!-- 浏览器：支持VIEW动作和https协议 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
        <!-- 邮件：支持SENDTO动作和mailto协议 -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
        <!-- 分享：支持SEND动作和文本类型 -->
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToolBox">
        <activity
            android:name=".function.math.FunctionImageActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.AntiOCRActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.game.Game2048Activity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".webview.HistoryBookmarkActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".message.MessageDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.yunhu.yhbotmaker.runtime.RunBotActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.yunhu.yhbotmaker.BotMainActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.notice.FriendRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".resourceLib.ResourceDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.SHA256Activity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".settings.MoreInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.RandomColorActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".guide.GuideActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.RankActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.ImageGetColorActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.ForgetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.NumberBaseActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.ResourceEditActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".community.PostDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="post-detail"
                    android:scheme="qz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".community.UserInfoActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="user"
                    android:scheme="qz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mine.ResourceUploadActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mine.ResourceSourceActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.MyResourceActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.DeviceManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".settings.UserSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.MailboxActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.PostDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.PostActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.CommunityActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".liFangCommunity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.painter.PainterActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".community.PostArticleActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.daily.MarkBoardActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".mine.notice.NoticeActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.math.RandomNumberActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.daily.FullScreenClockActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.math.CalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.system.DeviceInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.MorseCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.ChooseColorActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.visual.MDColorSchemeActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.daily.randomChoose.RandomChooseActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.daily.BMIActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.AESActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.Rc4Activity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.SpecialTextActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.text.Base64Activity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".settings.ThemeActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".function.daily.StopWatchActivity"
            android:exported="false"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".settings.InfoActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".community.CommunityActivity"
            android:exported="true"
            android:theme="@style/Theme.ToolBox" />
        <activity
            android:name=".CustomErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":error_activity"
            android:theme="@style/Theme.ToolBox">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
